{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 1,
    "eol-last": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "max-len": [
      "error",
      80
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "endOfLine": "lf",
        "jsxBracketSameLine": false,
        "trailingComma": "es5"
      }
    ]
  }
}