.button {
  background-color: #FFF;
  width: 160px;
  height: 28px;
  border: 1px solid #FFAF30;
  border-radius: 2px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: #3359DB;
  font-size: 0.8rem;
  font-weight: 300;
}
