.message-card-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .message-card-text {
    text-align: center;
    background-color: #FFF;
    height: 50px;
    width: 250px;
    padding: 40px;
    border-radius: 1px;
    color: #3359DB;
    font-size: 1rem;
    font-weight: 300;
  }
}
