.message-card-container {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    background-color: #FFF;
    height: 80px;
    width: 250px;
    padding: 40px;
    border-radius: 1px;
  }

  .message-card-text {
    text-align: center;
    color: #3359DB;
    font-size: 1rem;
    font-weight: 300;
  }
}
