.model-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.model-card-item {
  text-align: center;
  background-color: #FFF;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;

  .model-card-value {
    font-size: 1.25rem;
    font-weight: 300;
    color: #3359DB;
  }

  .model-card-btn {
    margin-top: 50px;
  }
}
